/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  background-color: #ddb887;
  font-family: "Courier New", Courier, monospace;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #efefef;
}

img {
  max-width: 100%;
}

h1 {
  color: #87acdd;
  background-color: #87acdd;
}
h1 a {
  color: #457345;
  background-color: #457345;
}

.main {
  color: #ddb887;
  background-color: #ddb887;
}

.primary {
  color: #87acdd;
  background-color: #87acdd;
}

.secondary {
  color: #457345;
  background-color: #457345;
}

.info {
  color: #f6c31c;
  background-color: #f6c31c;
}

.error {
  color: #d32752;
  background-color: #d32752;
}

.party {
  color: #b887dd;
  background-color: #b887dd;
}