/**
  Global foxingcss config
*/
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  background-image: url("../img/background.png");
  color: #402000;
  font-family: "Courier Prime";
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #efefef;
}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
}

button {
  font-family: "Courier Prime";
}

html {
  font-family: "Courier Prime";
  font-size: 1.15rem;
}

p,
a,
button,
li,
table,
thead,
tbody,
th,
tr,
td,
input,
textarea,
select,
option {
  font-family: "Courier Prime";
  font-size: 1.15rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier Prime";
  font-weight: normal;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.main {
  color: #ddb887;
  background-color: #ddb887;
}

.primary {
  color: #69a0e8;
  background-color: #69a0e8;
}

.secondary {
  color: #4c5d70;
  background-color: #4c5d70;
}

.info {
  color: #006666;
  background-color: #006666;
}

.error {
  color: #601125;
  border-color: #601125;
  border-style: solid;
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border-width: 1px;
}

.notification {
  color: #4c5d70;
  border-color: #4c5d70;
  border-style: solid;
}

.party {
  color: #b887dd;
  background-color: #b887dd;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #0a0c26;
  box-shadow: 15px 28px 25px -18px hsla(0deg, 0%, 0%, 0.2);
  margin: 5rem;
  max-width: 15rem;
}
.card .card-title {
  font-size: 2rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1.15rem;
}
.card .card-body a {
  text-decoration: underline;
}

.card:hover {
  box-shadow: hsla(0deg, 0%, 0%, 0.3);
}

.button-primary {
  margin: 0.75rem;
  position: relative;
  background-color: #69a0e8;
  color: white;
  border: 1;
  border-radius: 0.5rem;
  padding: 0.75rem;
  width: auto;
  text-align: center;
  align-items: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 4ms;
  overflow: hidden;
  text-decoration: none;
}

.button-primary:hover {
  color: #ffa040;
  cursor: pointer;
  border: 1;
  background-color: #1c5eb6;
  box-shadow: #191818;
}

.button-primary:active {
  color: black;
  background-color: white;
}

.button-primary:after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 300%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button-primary:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}