// import fonts here

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #efefef;
}

img {
  max-width: 100%;
}

h1 {
  a {
    color: rgb(83, 0, 0);
  }
}