// import fonts here


// variables 

//theme colors
$main: #ddb887;
$primary: #87acdd;
$secondary: #457345;
$error: #d32752;
$info: #f6c31c;
$party: #b887dd;

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  background-color: $main;
  font-family: 'Courier New', Courier, monospace;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #efefef;
}

img {
  max-width: 100%;
}

h1 {
  color: $primary;
  background-color: $primary;
  a {
    color: $secondary;
    background-color: $secondary;
  }
}

.main {
  color: $main;
  background-color: $main;
}
.primary {
  color: $primary;
  background-color: $primary;
}

.secondary {
  color: $secondary;
  background-color: $secondary;
}

.info {
  color: $info;
  background-color: $info;
}

.error {
  color: $error;
  background-color: $error;
}

.party {
  color: $party;
  background-color: $party;
}