@mixin btn($bg-color: #aaa6a1) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding $base-padding * 2;
  border-radius: $base-border-radius;
  background-color: $bg-color;
}

.btn {
  @include btn;
  &:hover {
      background-color: lighten(#aaa6a1, 10%);
      border: 1.25px solid #000;
    }
  border: 1px solid #000;
}
@each $key, $value in $color {
  .btn-#{$key} {
    @include btn($value);
    &:hover {
      background-color: lighten($value, 10%);
    }
  }

  .btn-outlined-#{$key} {
    @include btn($base);
    &:hover {
        background-color: $value;
      }
    border: $base-border-thickness solid $value;
  }

  .btn-complement-#{$key} {
    @include btn($value);
      color: light-comp($value);
    &:hover {
      color: $value;
      background-color: light-comp($value);
    }
  }
}