@use 'sass:math';

.card {
  @include shadow;
  margin: $base-margin;
  padding: $base-padding;
  backface-visibility: hidden;
  border-style: double;
  border-width: $base-border-thickness;
  border-color: $text-dark;
  border-radius: math.div($base-border-radius, 4);
  display: flex;
  flex-direction: column;
  position: relative;
  will-change: transform;
  word-wrap: break-word;

  &:hover {
    @include shadow(hover);
  }

  .card-hr {
    border-top: 2px solid $main;
  }

  .card-title {
    font-size: $global-header-font-size;
    padding-bottom: $base-padding;
  }

  .card-body {
    @extend .card-hr;
    margin-top: $base-margin;
    padding-top: $base-padding * 2;
    font-size: $global-font-size;

    a {
      text-decoration: none;
    }
  }
}