@use 'sass:math';

.box {
  @include shadow;
  place-items: center;
  text-align: left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: inherit;
  width: 100%;
  max-width: 600px;
  padding: 5px;
  border: 2px solid $main;
  

  &:before,
  &:after {
    content: "•";
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: $main;
    border: 2px solid $main;
    line-height: 12px;
    top: 5px;
    text-align: center;
  }

  &:before {
    left: 5px;
  }

  &:after {
    right: 5px;
  }

  .box-inner {
    text-align: left;
    position: relative;
    border: 2px solid $main;
    padding: 40px;

    &:before,
    &:after {
      content: "•";
      position: absolute;
      width: 14px;
      height: 14px;
      font-size: 14px;
      color: $main;
      border: 2px solid $main;
      line-height: 12px;
      bottom: -2px;
      text-align: center;
    }

    &:before {
      left: -2px;
    }

    &:after {
      right: -2px;
    }
  }
}

.box:hover {
  cursor: crosshair;
  box-shadow: $shadow-hover;
  will-change: transform;
}