@use 'sass:math';

$base-width: 6.25rem;
$base-depth: 1rem;

input[type='textarea'] {
  background-color: inherit;
  outline: none;
  margin-bottom: 0.5rem;
}

$formValues: (
  'width': (
    'prefix': 'field-width',
    'values': (
      'default': $base-width,
      '1': $base-width,
      '2': $base-width * 2,
      '3': $base-width * 3,
      '4': $base-width * 4,
      '5': $base-width * 5,
      'full': 100%
    )
  ),
  'padding-bottom': (
    'prefix': 'field-depth',
    'values': (
      'default': $base-padding,
      '1': $base-depth,
      '2': $base-depth * 2,
      '3': $base-depth * 3,
      '4': $base-depth * 4,
      '5': $base-depth * 5,
      '6': $base-depth * 6,
      '7': $base-depth * 7,
      '8': $base-depth * 8,
      '9': $base-depth * 9,
      '10': $base-depth * 10
    )
  )
);

@each $prop, $map in $formValues {
  $prefix: map-get($map, 'prefix');
  $values: map-get($map, 'values');

  @each $key, $val in $values {
    @if ($key == 'default') {
      .#{$prefix} {
        #{$prop}: $val;
      }
    } @else {
      .#{$prefix}-#{$key} {
        #{$prop}: $val;
      }
    }
  }
}
