/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  color: $main;
  font-family: $body-font;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 100s linear infinite;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid $main;
}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
}

button {
  font-family: $button-font;
}